{% extends "base.html" %} 
{% load static %} 
{% block title %}
  Palladian Designers | About Us
{% endblock title %}
{% block content %}
<!--MAIN BODY-->
<div class="container-fluid no-padd">
  <div class="row-fluid no-padd">
    <div class="col-sm-12 no-padd">
      <div class="container-fluid top-banner no-padd simple fullheight light">
        <span class="overlay"></span>
        <img
          src="{% static 'img/about-us/AdobeStock_101771536.jpg' %}"
          class="s-img-switch"
          alt="banner image"
        />
        <div class="content">
          <div class="prague-svg-animation-text"></div>

          <div class="subtitle">ABOUT OUR ARCHITECTS</div>
          <h1 class="title">
            We are based on collective work<br />
            and shared knowledge
          </h1>
        </div>
        <div class="top-banner-cursor"></div>
      </div>
    </div>
  </div>
</div>

<div class="container no-padd padd-only-xl">
  <div class="row-fluid margin-lg-70t">
    <div
      class="no-padd col-sm-10 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-xs-12 margin-lg-65t margin-sm-0t"
    >
      <div class="no-padd-md">
        <div class="prague-counter multi_item no-figure">
          <div class="figures">
            <!-- triangle -->
          </div>

          <div class="counter-outer" style="padding: 10px">
            <img
              src="{% static 'img/creative-banner/stock-photo-164383998.jpg' %}"
              data-lazy-src="{% static 'img/creative-banner/stock-photo-164383998.jpg' %}"
              alt="numbers photo"
              class="prague-counter-img s-img-switch"
            />

            <div class="numbers">
              <svg>
                <defs>
                  <mask id="coming_mask_0" x="0" y="0">
                    <rect
                      class="coming-alpha"
                      x="0"
                      y="0"
                      width="100%"
                      height="100%"
                    ></rect>
                    <text
                      class="count number"
                      x="52%"
                      y="47%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      157
                    </text>
                    <text
                      class="count title"
                      x="54%"
                      y="80%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      PROJECTS DONE
                    </text>
                  </mask>
                </defs>
                <rect
                  style="
                    -webkit-mask: url(#coming_mask_0);
                    mask: url(#coming_mask_0);
                  "
                  class="base"
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                ></rect>
              </svg>
              <svg>
                <defs>
                  <mask id="coming_mask_1" x="0" y="0">
                    <rect
                      class="coming-alpha"
                      x="0"
                      y="0"
                      width="100%"
                      height="100%"
                    ></rect>
                    <text
                      class="count number"
                      x="46%"
                      y="47%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      86
                    </text>
                    <text
                      class="count title"
                      x="46%"
                      y="80%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      HAPPY CLIENTS
                    </text>
                  </mask>
                </defs>
                <rect
                  style="
                    -webkit-mask: url(#coming_mask_1);
                    mask: url(#coming_mask_1);
                  "
                  class="base"
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                ></rect>
              </svg>
              <svg>
                <defs>
                  <mask id="coming_mask_2" x="0" y="0">
                    <rect
                      class="coming-alpha"
                      x="0"
                      y="0"
                      width="100%"
                      height="100%"
                    ></rect>
                    <text
                      class="count number"
                      x="52%"
                      y="35%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      924
                    </text>
                    <text
                      class="count title"
                      x="54%"
                      y="68%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      WORKING HOURS
                    </text>
                  </mask>
                </defs>
                <rect
                  style="
                    -webkit-mask: url(#coming_mask_2);
                    mask: url(#coming_mask_2);
                  "
                  class="base"
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                ></rect>
              </svg>
              <svg>
                <defs>
                  <mask id="coming_mask_3" x="0" y="0">
                    <rect
                      class="coming-alpha"
                      x="0"
                      y="0"
                      width="100%"
                      height="100%"
                    ></rect>
                    <text
                      class="count number"
                      x="46%"
                      y="35%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      13
                    </text>
                    <text
                      class="count title"
                      x="46%"
                      y="68%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                    >
                      AWARDS
                    </text>
                  </mask>
                </defs>
                <rect
                  style="
                    -webkit-mask: url(#coming_mask_3);
                    mask: url(#coming_mask_3);
                  "
                  class="base"
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                ></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="no-padd col-sm-12 col-lg-offset-1 col-lg-5 col-md-offset-0 col-md-6 col-xs-12 margin-sm-20t"
    >
      <div class="no-padd-md">
        <div class="heading left dark">
          <div class="subtitle">NUMBERS</div>
          <h2 class="title">
            Make with love<br />
            all what we do.
          </h2>
          <div class="content">
            <p>
              Our team takes over everything, from an idea and concept
              development to realization. We believe in traditions and
              incorporate them within our innovations. All our projects
              incorporate a unique artistic image and functional solutions.
            </p>
            <p>
              Client is the soul of the project. Our main goal is to illustrate
              his/hers values and individuality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container no-padd">
  <div class="row-fluid margin-lg-15t margin-sm-20t">
    <div class="col-sm-12 no-padd-md">
      <div class="heading left dark">
        <div class="subtitle">TEAM</div>
        <h2 class="title">Experts ready to serve.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container no-padd margin-lg-60b">
  <div class="row-fluid margin-lg-35t margin-sm-20t">
    {% for member in team_members %}
    <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12 no-padd-left">
      <div class="column-inner">
        <div class="team-wrapper no-figure">
          <div class="trans_figures enable_anima"></div>

          <div class="team-outer" style="height: 380px">
            <img
              src="/media/{{member.image}}"
              data-lazy-src="/media/{{member.image}}"
              alt="Marry picture"
              class="prague-team-img s-img-switch"
            />
          </div>

          <div class="position">{{member.designation}}</div>
          <div class="name">
            <h3>{{member.name}}</h3>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container margin-lg-140b">
  <div class="row row-fluid margin-lg-10t no-padd-md">
    <div class="testimonials-wrapper no-figure">
      <div
        class="testimonials-swiper swiper-container"
        data-speed="2000"
        data-loop="1"
        data-autoplay="3000"
        data-center="0"
        data-mode="vertical"
        data-slides-per-view="1"
        data-lg-slides="1,0"
        data-md-slides="1,0"
        data-sm-slides="1,0"
        data-xs-slides="1,0"
      >
        <!-- Additional required wrapper -->
      </div>
    </div>
  </div>
</div>
<!--/MAIN BODY-->
{% endblock content %}
