{% load static %}
<footer class="prague-footer default">
        <img src="{% static 'img/home/ffa51a33625455.56b20f01c3608.jpg' %}" data-lazy-src="{% static 'img/home/ffa51a33625455.56b20f01c3608.jpg' %}" class="s-img-switch" alt="footer banner" />
        <div class="footer-content-outer">
            <div class="footer-top-content">
                <div class="prague-footer-main-block">
                    <div class="prague-logo">
                        <a href="index.html">
                            <img src="{% static 'img/home/palladium.png' %}" width = "145" height="45" data-lazy-src="{% static 'img/home/palladium.png' %}" class="attachment-full size-full"
                                alt="logo" /> </a>
                    </div>

                    <div class="footer-main-content">
                        <p>{{footer_content.short_description}}</p>
                    </div>

                </div>
                <div class="prague-footer-info-block">

                    <h6 class="footer-info-block-title">GET IN TOUCH</h6>

                    <div class="footer-info-block-content">
                        <p>Shivam Dixit: <a href="tel:{{footer_content.contact_no}}">{{footer_content.contact_no}}</a></p>
                        <p><a href="{{footer_content.mail}}">{{footer_content.mail}}</a></p>
                        <p>{{footer_content.address}}</p>
                        <p>Indore,Madhya Pradesh 452001</p>
                    </div>

                </div>
            </div>
            <div class="footer-bottom-content">

                <!-- Footer copyright -->
                <div class="footer-copyright">
                    <p>Palladian (C) 2024 ALL RIGHTS RESERVED</p>
                    <p>Design and Developed By: <a target="__blank" href="https://www.linkedin.com/in/harshitshreshthi/"><b style="font-size: 13px;">Harshit Shreshthi</b></a></p>
                </div>
                <!-- End footer copyright -->

                <div class="prague-social-nav">
                    <ul class="social-content">
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/palladiandesigners/about/">
                                <i aria-hidden="true" class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/palladian_designers/?igsh=MWtkcGl6ODlpMnN1ZA%3D%3D">
                                <i aria-hidden="true" class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>