{% extends "base.html" %}
{% load static %}
{% block title %}
    Palladian Designers | Job Detail
{% endblock title %}
{% block content %}
    <!--MAIN BODY-->
    <div class="container-fluid no-padd">
        <div class="row-fluid no-padd">
            <div class="col-sm-12 no-padd">

                <div class="container-fluid top-banner no-padd  big enable_column  light no-marg-bottom vindow-height">
                    <span class="overlay"></span> <img src="{% static 'img/careers/job_detail.jpg' %}" class="s-img-switch"
                        alt="banner image">
                    <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>

                        <div class="subtitle">CAREER</div>
                        <h1 class="title">{{ job_career_detail.job }}</h1>
                        <div class="banner-columns"></div>
                    </div>
                    <div class="top-banner-cursor"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="container no-padd no-padd margin-lg-70t margin-sm-40t margin-lg-110b margin-xs-70b">
        <div class="row-fluid "></div>
        <div class="row-fluid no-padd margin-lg-30t margin-lg-110b margin-sm-20t margin-sm-70b">
            <div style="text-align: justify;" class="col-sm-12 col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-0 col-xs-12 no-padd">
                {{ job_career_detail.text|safe }}
            </div>
            <input type="hidden" name="item_key" value="" />
            {% if not is_applied_before %}
            
            <div class="frm_submit">
                <input id="apply_btn" type="submit" value="Apply" />
                <span class="arrow-right"></span>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    <!--/MAIN BODY-->
    {% if is_applied_before %}
        <div class="container">
            <h2>You Already Applied for the same Job.</h2>
        </div>
    {% else %}
    <div style="display: none;" id="job_container" class="container no-padd no-padd margin-lg-70t margin-sm-40t margin-lg-110b margin-xs-70b">
        <h2>Applying to {{ job_career_detail.job }}</h2>
        <hr/>
         <div class="row-fluid no-padd margin-lg-30t margin-lg-110b margin-sm-20t margin-sm-70b">
            <div class="col-sm-12 col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-0 col-xs-12 no-padd">
                <div class="padd-only-xs ">
                    <div class="prague-formidable  vc_formidable">
                        <div class="frm_forms  with_frm_style frm_style_formidable-style-2-2" id="frm_form_4_container">
                            <form enctype="multipart/form-data" method="post" class="frm-show-form contact-me-form" id="form_t1e6y">
                                <div class="frm_form_fields ">
                                    <fieldset>
                                        <div class="frm_fields_container">
                                            <div class="row">
                                                
                                                <form id="pdf-upload-form" enctype="multipart/form-data" method="POST">
                                                    {% csrf_token %}
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="hidden" name="job_career_detail" value="{{ job_career_detail.id }}"/>
                                                        <input type="hidden" id="applied_successful" name="applied_successful" value="{{ applied_successful }}"/>
                                                        <input type="hidden" id="position_name" name="position_name" value="{{ job_career_detail.job }}"/>
                                                        {% comment %} <div class="row">
                                                            <div class="col-md-8">
                                                                <label for="fileInput" class="fake-button">Choose File</label>
                                                                <input type="file" class="file-input" id="fileInput" required name="candidate_resume"
                                                                    placeholder="Upload Resume" data-reqmsg="This field cannot be blank."
                                                                    data-invmsg="Upload Resume" />
                                                            </div>
                                                        </div> {% endcomment %}
                                                            <span class="uploadLimitNote">(File size should be &lt;= 2MB)</span>
                                                        <div class="row">
                                                            <div id = "frm_field_20_container" class="col-md-3 frm_form_field form-field  frm_none_container">
                                                                <label for="fileInput" class="fake-button">Choose Resume</label>
                                                                <input type="file" class="file-input" id="pdf_upload" required name="candidate_resume"
                                                                    placeholder="Upload Resume" data-reqmsg="This field cannot be blank."
                                                                    data-invmsg="Upload Resume" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-3 frm_form_field form-field  frm_none_container">
                                                                <label for="fileInput" class="fake-button">Choose Portfolio</label>
                                                                <input type="file" class="file-input" id="portfolio_upload" name="candidate_portfolio"
                                                                    placeholder="Upload Portfolio" data-reqmsg="This field cannot be blank."
                                                                    data-invmsg="Upload Portfolio" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-3 frm_form_field form-field  frm_none_container">
                                                                <input required type="text" id="field_rposy" name="first_name" value=""
                                                                    placeholder="First Name" data-invmsg="Phone is invalid" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-3 frm_form_field form-field  frm_none_container">
                                                                <input required type="text" id="field_rposy" name="last_name" value=""
                                                                    placeholder="Last Name" data-invmsg="Phone is invalid" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="email" id="field_pk5zg" name="email" value=""
                                                                placeholder="example@mail.com" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Email Address is invalid" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input oninput="restrictCharacters(event)" required type="tel" id="field_pk5zg" name="phone_number" value=""
                                                                placeholder="Phone Number" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Phone Number" />
                                                            </div>
                                                        </div>
                                    
                                                        <div class="row">
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="text" id="field_pk5zg" name="current_location" value=""
                                                                placeholder="Current Location" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Phone Number" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="tel" id="field_pk5zg" name="notice_period" value=""
                                                                placeholder="Notice Period" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Phone Number" />
                                                            </div>
                                                
                                                        </div>
                                                        <div class="row">
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="tel" id="field_pk5zg" name="current_ctc" value=""
                                                                placeholder="Current CTC" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Current CTC" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="tel" id="field_pk5zg" name="expected_ctc" value=""
                                                                placeholder="Expected CTC" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Expected CTC" />
                                                            </div>
                                                        </div>
                                                                                                        
                                                        <div class="row">
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="tel" id="field_pk5zg" name="current_salary" value=""
                                                                placeholder="Current Salary" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Current Salary" />
                                                            </div>
                                                            <div id = "frm_field_20_container" class="col-md-6 frm_form_field form-field  frm_none_container">
                                                                <input required type="tel" id="field_pk5zg" name="expected_salary" value=""
                                                                placeholder="Expectecd Salary" data-reqmsg="This field cannot be blank."
                                                                data-invmsg="Expectecd Salary" />
                                                            </div>
                                                
                                                        </div>                                      
                                                    </div>                                             
                                            </div>
                                            <input type="hidden" name="item_key" value="" />
                                            <div class="frm_submit">

                                                <input type="submit" value="Submit" />
                                                <span class="arrow-right"></span>

                                            </div>
                                            </form>
                                        </div>
                                        
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="test 4"></div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
        
<script>
    // JavaScript to show/hide container on button click
    {% comment %} document.getElementById('pdf-upload-form').addEventListener('submit', function(event) {
        console.log("INSIDE")
        var fileInput = document.getElementById('pdf_upload');
        var fileName = fileInput.value;
        var ext = fileName.split('.').pop().toLowerCase();

        if (ext !== 'pdf') {
            alert('Please upload a PDF file.');
            event.preventDefault();
        }
    }); {% endcomment %}
    $(document).ready(function(){
      // Show an alert when the document is loaded
      var appliedSuccessful = document.getElementById("applied_successful").value;
      if (appliedSuccessful != "False"){
        alert('You Applied Successfully');
      }
    
    });
    document.addEventListener("DOMContentLoaded", function () {
        var applyButton = document.getElementById("apply_btn");
        var applicationContainer = document.getElementById("job_container");

        applyButton.addEventListener("click", function () {
            // Toggle the visibility of the container
            if (applicationContainer.style.display === "none") {
                applicationContainer.style.display = "block";
                // Scroll to the container
                applicationContainer.scrollIntoView({ behavior: "smooth" });
            } else {
                applicationContainer.style.display = "none";
            }
        });
    });
    function restrictCharacters(event) {
        event.target.value = event.target.value.replace(/\D/g, '');
    }
  </script>
{% endblock content %}