{% extends "base.html" %}
{% load static %}
{% block title %}
Palladian Designers | Projects-Details
{% endblock title %}
{% block content %}
     <!--MAIN BODY-->
    <div class="project-detail-parallax" data-parallax-speed="0.5" data-smoothscrolling="">
        <div class="project-detail-parallax-item">
            <div style="opacity: .1" class="detail-parallax-item-bg js-detail-parallax-item-bg">
                <img src="/media/{{project.project_banner_image}}"
                    alt="banner image" /> </div>

            <div class="detail-parallax-item-header">
                <h6 class="detail-parallax-item-header-subtitle">
                    {{project_cat}} </h6>

                <h1 class="detail-parallax-item-header-title">{{title}}</h1>
            </div>

        </div>
        {% for image in images %}
        <div class="project-detail-parallax-item">
            <div class="detail-parallax-item-bg js-detail-parallax-item-bg">
                <img src="/media/{{image.project_image}}" class="attachment-full size-full" alt="banner image"/> 
            </div>
        </div>
        {% if total_image == forloop.counter%}
            <div class="project-detail-parallax-item">
                <div class="detail-parallax-item-footer">
                    <h6 class="detail-parallax-item-footer-subtitle">{{project_image_desc}}</h6>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        <div class="project-detail-parallax-cover"></div>
        <div class="container padd-only-xs">
            <div class="pixfields_box">
                <ul class="pixfields_list">
                    <li class="pixfield">
                        <strong>YEAR</strong> : 2010 </li>
                    <li class="pixfield">
                        <strong>LOCATION</strong> : Aqaba, Jordan </li>
                    <li class="pixfield">
                        <strong>CATEGORY</strong> : House </li>
                    <li class="pixfield">
                        <strong>CREATIVE DIRECTOR</strong> : </li>
                    <li class="pixfield">
                        <strong>VISUALIZATION</strong> : </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container-fluid no-padd margin-lg-90t  margin-lg-120b margin-sm-80b margin-xs-50b">
        <div class="row-fluid no-padd">
            <div class="col-sm-12 no-padd">

                <div class="banner-slider-wrap andra ">
                    <div class="swiper-container swiper  " data-mouse="0" data-autoplay="0" data-loop="0" data-speed="500"
                        data-center="1" data-space-between="30" data-pagination-type="fraction" data-mode="horizontal">
                        <div class="swiper-wrapper">
                            {% for image in images %}
                                <div class="swiper-slide swiper-no-swiping full-height-window-hard">
                                    <img src="/media/{{image.project_image}}" class="s-img-switch" alt="banner image">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pag-wrapper">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if videos %}
        <div class="container no-padd margin-lg-50b margin-sm-60b margin-xs-40b">
        <div class="row-fluid  ">
            <div class=" col-sm-12  padd-only-xs">

                <div class="heading  Center dark">

                    <div class="subtitle ">Walkthrough</div>
                    <h2 class="title">Experience a detailed journey through our project, showcasing every step from concept to completion.</h2>
                </div>

            </div>
        </div>
    </div>

    <div class="container no-padd">
        <div class="row-fluid  margin-lg-120b  margin-sm-80b margin-xs-50b">
            <div class="col-sm-12 no-padd padd-only-small ">
                <div class="masonry" data-space="30" data-space-tablet='15' >
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <div class="img-wrapp">
                            <iframe width="460" height="315" src="{{video.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    <!--/MAIN BODY-->
{% endblock content %}